<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.justaid">

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ClassRoomActivity" />
        <activity android:name=".CourseActivity" />
        <activity android:name=".CreateCourseActivity" />
        <activity android:name=".EditCourseActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".ScoreActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".CardActivitty" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SuperTableActivity" />

        <activity android:name=".DataBaseTest" >


        </activity>
        <activity android:name=".MineActivity" />
        <activity android:name=".PersonalMessageActivity" />
        <activity android:name=".AnnounceActivity" />

    </application>

</manifest>